<!doctype html>
<html class="{% block pageclass %}{%endblock %}">
  <head>
    <title>{% block title %}{% endblock %} | Open Formulary</title>
    {% include 'head.html' %}

    {% block extrascripts %}{% endblock %}

  </head>
  <body>

    <div id="main-page">

      <div id="header">
        <h1>
          <a href="/">Open Formulary</a>
          <img src="/static/img/logo2.png" height="37" width="41"/>
        </h1>
        <p id="username">{{ request.user.username }}</p>
      </div><!-- /header -->

      <div id="content">

        <div class="container">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="unstyled">
                {% for message in messages %}
                  <li>
                    <p class="text-success">
                      {{ message }}
                    </p>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div><!-- /content -->
      <div id="footer">
        {% block footer %}{% endblock %}
        <p id="warning">
          Brought to you by
            <a href="/about">
              Open Health Care UK
            </a>
        </p>
      </div>

    </div><!-- /page -->


    <script type="text/javascript">
      $(document).ready(function(){
        $('.tt').tooltip();
      });
    </script>

  </body>
</html>
