  {% for chapter, sections in walk() %}
    {% if chapter['drugs']|length > 1 %}
      <h3 class="red">{{ chapter['bnf'] }} {{ chapter['title'] }}</h3>
      {% for section, paragraphs, drugs in sections %}
        <div class="row-fluid">
          <div class="span12">
            <h3 class="blue drugsect">
              {% if drugs|length > 0%}<i class="icon-chevron-right"></i>{% endif %}
              {{ section['chapter'] }}.{{ section['section'] }}
              {{ section['title'] }}
            </h3>
            {% if drugs|length > 0%}
              {% set druglist = drugs %}
              {% include 'druglist.jinja2' %}
            {% endif %}
          </div>
        </div>
        {% for paragraph in paragraphs %}
          {% if paragraph['drugs']|length > 0 %}
            <div class="row-fluid">
              <div class="span12">
                <h3 class="drugsect">
                  {% if paragraph['drugs']|length > 0%}<i class="icon-chevron-right"></i>{% endif %}
                  {{ paragraph['title'] }}
                </h3>
                {% set druglist = paragraph['drugs'] %}
                {% include 'druglist.jinja2' %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% endfor %}
