{% extends 'base.jinja2' %}
{% block title %}New Formulary{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="/static/js/create.js"></script>
{% endblock %}

{% block content %}
  {% set active = 'create' %}
  {% include 'tabs.jinja2' %}

  <form method="POST" id="create-form" action="">
    <fieldset>

      {% include 'formulary.metadata.form.jinja2' %}
      <div class="row-fluid">
        <div class="span12">
          <h3>Drug details</h3>
          <p>
            Select the drugs that you want in your formulary.
            Don't worry if you don't get all of them right now, you can always
            edit the formulary later on.
          </p>
        </div>
      </div>

      {% include 'bnf.walk.jinja2' %}

  <div class="row-fluid">
    <div class="span12">
      <p>All done? hit the save button below to see your formulary in action</p>
      <button type="submit" class="btn" tabindex="4">Submit</button>
    </div>
  </div>


    </fieldset>
  </form>


{% endblock %}
