{% extends 'base.jinja2' %}
{% block title %}Edit {{ formulary['name'] }} {% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="/static/js/create.js"></script>
{% endblock %}

{% block content %}
  {% include 'tabs.jinja2' %}

  <form method="POST" id="edit-form" action="">
    <fieldset>

  {% include 'formulary.metadata.form.jinja2' %}
  {% include 'bnf.walk.jinja2' %}

  <div class="row-fluid">
    <div class="span12">
      <p>All done? hit the save button below to see your formulary in action</p>
      <button type="submit" class="btn" tabindex="4">Submit</button>
    </div>
  </div>

    </fieldset>
  </form>



{% endblock %}
