<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" href="/static/img/iphone_icon.png" />
<link rel="apple-touch-icon" href="/static/img/iphone_icon.png" />
<link rel="apple-touch-startup-image" href="/static/img/startup.png" />

<link rel="stylesheet" href="/static/css/lib/bootstrap/css/bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/lib/bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/OpenSans.css"/>
<link rel="stylesheet" href="/static/css/lib/fontawesome/css/font-awesome.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/form.css">

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="/static/css/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
