<ul class="nav nav-tabs">
  <li {% if active == 'home' %}class="active"{% endif %}>
    <a href="/">formularies</a>
  </li>
  <li {% if active == 'create' %}class="active"{% endif %}>
    <a href="{{ url_for('views.create') }}">create</a>
  </li>
  <li>
    <a href="{{ url_for('users.logout') }}">log out</a>
  </li>
  <li>
    <a href="#">
      {{ request.user.username }}
    </a>
  </li>
</ul>
