<ul class="nav nav-tabs">
  <li {% if active == 'home' %}class="active"{% endif %}>
    <a href="/">home</a>
  </li>
  <li {% if active == 'list' %}class="active"{% endif %}>
    <a href="{{ url_for('views.formulary_list') }}">formularies</a>
  </li>
  <li {% if active == 'create' %}class="active"{% endif %}>
    <a href="{{ url_for('views.formulary_create') }}">create</a>
  </li>
  <li>
    {% if request.user.is_authenticated %}
      <a href="{{ url_for('users.views.logout') }}">log out</a>
    {% else %}
      <a href="{{ url_for('users.views.login') }}">log in</a>
    {% endif %}
  </li>
</ul>
