<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" href="/static/img/iphone_icon.png" />
<link rel="apple-touch-icon" href="/static/img/iphone_icon.png" />
<link rel="apple-touch-startup-image" href="/static/img/startup.png" />

<link rel="stylesheet" href="/static/css/main.css">

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32190563-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $('[data-role=page]').live('pageshow', function (event, ui) {
  try {

  hash = location.hash;

  if (hash) {
  _gaq.push(['_trackPageview', hash.substr(1)]);
  } else {
  _gaq.push(['_trackPageview']);
  }
  } catch(err) {

  }

  });
</script>
